.row
  .span12
    .well
      %h2 Courrier du #{I18n.l @letter.created_at, format: :long}
      %ul.thumbnails
        - for attachment in @letter.attachments
          %li.span4
            = link_to attachment.image_url, class: 'thumbnail', target: 'blank' do
              = image_tag attachment.image_url
