%h1 Courriers

%table.table.table-bordered
  %thead
    %tr
      %td Expediteur
      %td Destinataire
      %td Reçu le
      %td Etat
      %td
  %tbody
    - for letter in @letters
      = render letter
