%h1 Courrier de #{@letter.sender} à #{@letter.user.try :fullname}

%ul.thumbnails
  - for attachment in @letter.attachments
    %li.span4
      = link_to attachment.image_url, class: 'thumbnail', target: 'blank' do
        = image_tag attachment.image_url

=link_to "Send email", { controller: "backoffice/letters", action: "send_email"}, class: "btn"
