<% title "Backoffice/Letter" %>

<p>
  <strong>Name:</strong>
  <%= @letter.name %>
</p>

<p>
  <%= link_to "Edit", edit_backoffice_letter_path(@letter) %> |
  <%= link_to "Destroy", [:backoffice, @letter], :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", backoffice_letters_path %>
</p>
