<% title "Backoffice/Mail" %>

<p>
  <strong>Name:</strong>
  <%= @mail.name %>
</p>

<p>
  <%= link_to "Edit", edit_backoffice_mail_path(@mail) %> |
  <%= link_to "Destroy", [:backoffice, @mail], :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", backoffice_mails_path %>
</p>
